fastapi
uvicorn
python-multipart
pydantic
requests
python-dotenv
faiss-cpu
numpy
sentence-transformers
nltk
hdbscan
Pillow
pytesseract
pdf2image
opencv-python-headless
nest_asyncio
layoutparser
pandas
